.logo{
    color: #0A1B32;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 160% */
    letter-spacing: -0.6px;
    margin-top: 37px;
    margin-left: 80PX;

    }
.logo-dot{
    color: #A3DC00;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.6px;

}    
.main-title{
    color: #1B0A42;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 76px; /* 105.556% */
    letter-spacing: 1.44px;
    max-width: 495px;
    width: 100%;
    font-family: 'Ramaraja', serif;
    margin-top: 203;
    margin-left: 200px;
}
.main-info{
    color: #9A9A9A;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.4px;
    margin-top: 10px;
    margin-left: 200px;
    max-width: 583px;
    width: 100%;
}
.main-btn{
    color: #FFF;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 200% */
    letter-spacing: 0.32px;
    border-radius: 6px;
    background-color: #A3DC00;   
    width: 152px;
    height: 64;
    margin-left: 200px;
    margin-top: 50px;
    border: none;
}
section{
    display:inline-block;
}